ads==0.12.3
alabaster==0.7.12
appdirs==1.4.4
Babel==2.9.1
bonobo==0.6.4
certifi==2021.10.8
charset-normalizer==2.0.7
colorama==0.4.4
cycler==0.10.0
docutils==0.17.1
fs==2.4.13
graphviz==0.8.4
httpretty==0.8.10
idna==3.3
imagesize==1.2.0
jellyfish==0.8.8
Jinja2==2.11.3
joblib==1.1.0
kiwisolver==1.3.2
MarkupSafe==2.0.1
matplotlib==3.4.3
mock==4.0.3
mondrian==0.8.1
numpy==1.21.2
openpyxl==3.0.9
packaging==19.2
pandas==1.3.3
pbr==5.6.0
Pillow==8.3.2
psutil==5.8.0
Pygments==2.10.0
pyparsing==2.4.7
python-dateutil==2.8.2
python-slugify==1.2.6
pytz==2021.3
requests==2.26.0
scikit-learn==1.0
scipy==1.7.1
six==1.16.0
sklearn==0.0
snowballstemmer==2.1.0
Sphinx==4.2.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stevedore==1.32.0
threadpoolctl==3.0.0
Unidecode==1.3.2
urllib3==1.26.7
Werkzeug==2.0.2
whistle==1.0.1
